body, a {
	color: var(--dark);
}

html,
nav.navbar,
a:hover,
a.active,
.footer {
	background-color: #fff;
	color: var(--dark);
}

.slider,
.navigate {
	background-color: rgba(255,255,255,0.97);
}

.exif {
	color: var(--dark-light);
}

img.logo {
    height: auto;
}

.button.is-white.is-outlined {
    color: var(--dark-light);
    border-color: var(--dark-light);
}
.button.is-white.is-outlined:hover {
    border-color: var(--main-light);
    color: var(--main-light);
}
